<%- include('../includes/head') %>
</head>

<body>
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="content-wrapper d-flex align-items-center auth">
        <div class="row w-100">
          <div class="col-lg-4 mx-auto">
            <div class="auth-form-light text-left p-5">
              <div class="brand-logo">
                <img src="/website/images/logo.png">
              </div>  
              <h4>Quer ser autor no nosso blog?</h4>
              <h6 class="font-weight-light">Crie uma conta e comece a escrever!</h6>
              <form class="pt-3">
                <div class="form-group">
                  <input type="text" class="form-control form-control-lg" id="inputUsername" placeholder="Usuário">
                </div>
                <div class="form-group">
                  <input type="email" class="form-control form-control-lg" id="inputEmail" placeholder="Email">
                </div>
                <!-- <div class="form-group">
                  <select class="form-control form-control-lg" id="select...">
                    <option>Country</option>
                    <option>United States of America</option>
                    <option>United Kingdom</option>
                    <option>India</option>
                    <option>Germany</option>
                    <option>Argentina</option>
                  </select>
                </div> -->
                <div class="form-group">
                  <input type="password" class="form-control form-control-lg" id="inputPassword" placeholder="Senha">
                </div>
                <div class="form-group">
                    <input type="confirmpassword" class="form-control form-control-lg" id="inputConfirmPassword" placeholder="Repita a senha">
                  </div>
                <div class="mb-4">
                  <div class="form-check">
                    <label class="form-check-label text-muted">
                      Ao criar uma conta você estará concordando com os <a href="#">Termos e Condições</a>.
                    </label>
                  </div>
                </div>
                <div class="mt-3">
                  <a class="btn btn-block btn-gradient-primary btn-lg font-weight-medium auth-form-btn text-uppercase" href="../../index.html">Cadastrar</a>
                </div>
                <div class="text-center mt-4 font-weight-light">
                 Já tem uma conta? <a href="login.html" class="text-primary">faça Login</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <%- include('../includes/plugins') %>
</body>

</html>
