<footer class="footer">
        <div class="container">
            <!-- <div class="row">
                <nav class="footer__nav  d-none d-lg-block wow fadeIn">
                    <ul class="footer__nav__list">
                        <li><a href="">Início</a></li>
                        <li><a href="">Quem somos</a></li>
                        <li><a href="">Nosso Trabalho</a></li>
                        <li><a href="">Quem já confiou</a></li>
                        <li><a href="">Contato</a></li>
                    </ul>
                </nav>
            </div> -->

            <div class="row">
                <div class="footer__logo wow fadeInUp">
                    <a href="/"><img class="img-webp" data-original="/website/images/logo.png"
                            data-webp="/website/images/logo.webp" alt="Logo Evolve Soluções Web"></a>
                </div>
            </div>

            <div class="row">
                <div class="vertical-line--blue wow fadeInUp "></div>
            </div>

            <div class="row">
                <div class="footer__follow-us wow fadeInUp">
                    <div class="col-12">
                        <h4 class="footer__follow-us__title">Siga-nos nas redes sociais</h4>
                    </div>
                    <ul class="medias-list">
                        <li class="medias-list__item"> <a href=""><i class="fa fa-facebook fb-button pl-3 pr-3"
                                    aria-hidden="true"></i></a></li>
                        <li class="medias-list__item"> <a href=""><i class="fa fa-instagram insta-button"
                                    aria-hidden="true"></i></a></li>
                        <li class="medias-list__item"> <a href=""><i class="fa fa-twitter twitter-button"
                                    aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="footer__developed  wow fadeInUp">
                    <p>© 2019 Copyright Evolve Soluções Web</p>
                    <p>coded with &lt; by <b>Evolve</b> </p>
                </div>
            </div>
        </div>
    </footer>