<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale = 1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcout icon" href="/website/images/favicon.ico" type="image/x-icon" />
    <link rel="shortcout icon" href="/website/images/favicon.png">
    <title>Evolve Soluções Web</title>

    <!-- ANALYTICS -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-102953058-4"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-102953058-4');
    </script>

    <!-- MAIN SEO -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />
    <META NAME="Googlebot" CONTENT="index,follow">
    <META NAME="robots" CONTENT="index,follow">
    <META NAME="Identifier-URL" CONTENT="http://www.evolveme.">
    <META NAME="url" CONTENT="http://www.">
    <META NAME="Language" CONTENT="PT-BR">
    <META NAME="content-language" CONTENT="pt-br">
    <META NAME="distribution" CONTENT="Global">
    <META NAME="coverage" CONTENT="Worldwide">
    <META NAME="Author" CONTENT="Vitor Régis de Ramos - Front-End Developer">
    <META NAME="Generator" CONTENT="">
    <meta name="description" content="" />

    <!-- SOCIAL METAS -->
    <meta property="og:title" content="Evolve Soluções Web">
    <meta property="og:description" content="Evolua sua ideia de site, sistema, aplicativo ou jogo para tecnologia!">
    <meta property="og:image" content="http://vitorregisrr.github.io/evolveweb/images/favicon-big.png">
    <meta property="og:image:secure_url" content="https://vitorregisrr.github.io/evolveweb/images/favicon-big.png">
    <meta property="og:url" content="https://www.evolveme.com.br">
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Evolve Soluções Web">

    <meta name="twitter:title" content="Evolve Soluções Web">
    <meta name="twitter:description" content="Evolua sua ideia de site, sistema, aplicativo ou jogo para tecnologia!">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image:alt" content="Logo Evolve Soluções Web">
    <meta name="twitter:image" content="https://vitorregisrr.github.io/evolveweb/images/favicon-big.png">
    <meta name="twitter:site" content="@website-username">

    <meta property="fb:app_id" content="evolveweb" />

    <script type="application/x-javascript">
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>

    <!-- CSS FILES -->
    <script src="/website/vendor/jquery/jquery-3.3.1.min.js" defer></script>
    <script src="/website/vendor/bootstrap/bootstrap.min.js" defer></script>
    <script src="/website/vendor/isotope-layout/dist/isotope.pkgd.min.js" defer></script>
    <script src="/website/vendor/lazyload/lazyload.js" defer></script>
    <script src="/website/vendor/lightbox2/dist/js/lightbox.min.js" defer></script>
    <script src="/website/vendor/owl.carousel/owl.carousel.min.js" defer></script>
    <script src="/website/vendor/wowjs/dist/wow.min.js" defer></script>
    <script src="/website/js/main.min.js" defer></script>
    <script src="/website/js/landingNavigation.min.js" defer></script>
    <script src="/website/js/webp.js" defer></script>

    <link rel="stylesheet" href="/website/vendor/animate.css/animate.min.css">
    <link rel="stylesheet" href="/website/vendor/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/website/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/website/vendor/jquery/jquery-ui.css">
    <link rel="stylesheet" href="/website/vendor/lightbox2/dist/css/lightbox.min.css">
    <link rel="stylesheet" href="/website/vendor/owl.carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="/website/css/main.min.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:200, 300,400,600,700" rel="stylesheet">