<div class="d-flex align-items-center flex-column">
                    <h3 class="inner-title color-navy wow fadeInUp">
                        <span class="underline-red img-webp">Quem somos?</span>
                    </h3>
                    <p class="inner-desc color-navy wow fadeInUp">
                        Somos uma agência jovem com um grande desejo de <b>inovar e fazer diferente</b>. Nascemos da
                        necessidade de quebrar padrões que limitam o potencial da sua marca na WEB e
                        queremos evoluir seu negócio ao <b>próximo patamar digital</b>,
                        utilizando as <b>tecnologias mais atuais</b> do mercado!
                    </p>
                </div>
                <div class="work-with wow fadeInUp">
                    <h5 class="title">Nós desenvolvemos: </h5>
                    <div class="owl-carousel owl-theme">
                        <div class="item">
                            <div class="about-card">
                                <i class="bg-icon fa fa-paint-brush"></i>
                                <h4 class="about-card__title">Sistemas</h4>
                                <ul class="about-card__list">
                                    <li>Rápidos e leves</li>
                                    <li>Práticos e bem-pensados</li>
                                    <li>Acessáveis em qualquer lugar</li>
                                    <li>Especiais para seus problemas</li>
                                </ul>
                                <p><a href="/sobre">Ler mais >></a></p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="about-card wow">
                                <i class="bg-icon fa fa-code"></i>
                                <h4 class="about-card__title">Websites</h4>
                                <ul class="about-card__list">
                                    <li>Responsivos e bonitos</li>
                                    <li>Com carregamento rápido</li>
                                    <li>No topo do Google</li>
                                    <li>Pensados no usuário</li>
                                </ul>
                                <p><a href="/sobre">Ler mais >></a></p>
                            </div>
                        </div>

                        <div class="item">
                            <div class="about-card wow">
                                <i class="bg-icon fa fa-rocket"></i>
                                <h4 class="about-card__title">Jogos WEB</h4>
                                <ul class="about-card__list">
                                    <li>Divertidos e criativos</li>
                                    <li>Responsivos e adaptáveis</li>
                                    <li>Com boa performance</li>
                                    <li>Intuítivos e acessíveis</li>
                                </ul>
                                <p><a href="/sobre">Ler mais >></a></p>
                            </div>
                        </div>

                        <div class="item">
                            <div class="about-card wow">
                                <i class="bg-icon fa fa-rocket"></i>
                                <h4 class="about-card__title">Aplicativos</h4>
                                <ul class="about-card__list">
                                    <li>Leves e rápidos</li>
                                    <li>Nativos e Multiplataforma</li>
                                    <li>Bonitos e únicos</li>
                                    <li>Intuítivos e práticos</li>
                                </ul>
                                <p><a href="/sobre">Ler mais >></a></p>
                            </div>
                        </div>
                    </div>
                </div>