#home{
    position: relative;
    @extend %dflex;
    padding-top: 160px;
    width: 100%;
    height: 120vh;
    background-size: cover;
    background-position: bottom center;
    opacity: 1;
    transform: scale(1);
    @include transition(1s, all, ease-in-out);

    &.non-webp{
        background-image: url(../images/backgrounds/heroes/hero-1.png);
    }

    &.webp{
        background-image: url(../images/backgrounds/heroes/hero-1.webp);
    }

    > .container{
        @extend %dflex;
        flex-direction: column;
        align-items: center;
    }

    &.scrolled{
        @media screen and (min-width: 998px){
            transform: matrix(1.2, 0, 0, 1.2, 0, 0);
        }
        
        opacity: 0;
    }

    @media screen and (max-width: 592px){  
      padding-top: 120px;
    }

     button{
        font-size: 16px;
    }

     .title{
        font-weight: bold;
        letter-spacing: -2px;
        text-transform: uppercase;
        color: #fff;
        line-height: 60px;
        font-size: 40px;
        text-align: center;
        -webkit-text-shadow: -1px -2px 136px -47px rgba(214,49,80,1);
        -moz-text-shadow: -1px -2px 136px -47px rgba(214,49,80,1);
        text-shadow: -1px -2px 136px -47px rgba(214,49,80,1);
    
         span{
            padding: 0 5px;
            display: inline-block;

            &.red{
                font-size: 65px;
                color: $main-color;
            }
        }

        
        @media screen and (max-width: 992px){
            font-size: 35px;
            line-height: 50px;

             span.red{
                font-size: 45px;
            }
        }

        @media screen and (max-width: 768px){  
            line-height: 30px;
            font-size: 30px;

            br{
                display: none;
            }

             span.red{
                line-height: 50px;
                display: block;
                padding: 0;
                font-size: 45px;
            }
        }
    }


}