<div class="testimonial__slider img-webp wow fadeInRight">
    <div class="owl-carousel owl-theme">
        <% deps.forEach( dep => { %>
        <div class="item">
            <div class="testimonial__slider__item">
                <h5 class="color-main"><%= dep.titulo %></h5>
                <p class="testi__text pt-0">"<%= dep.descricao %>"</p>
                <img data-src="<%= dep.cliente.image.secure_url %>" alt="" class="testi__img lazy"
                    src="/website/images/trumps/loading.gif" />
            </div>
        </div>
        <% }); %>
    </div>
</div>