<%- include('includes/head.ejs')%>
</head>

<body class="scrollbar-inner wow fadeIn">
    <%- include('includes/nav.ejs') %>
    <main>
        <section id="banner" class="img-webp">
            <div class="container">
                <h2 class="subtitle wow fadeInDown" data-wow-delay="0.2s">Evolua sua ideia</h2>
                <h1 class="title ">
                    <span class="wow fadeInDown" data-wow-delay="0.5s">Entre em contato!</span>
                </h1>
            </div>
        </section>
        <section id="speak-us" class="p-0" style="min-height: 60vh">
            <div class="container">
                <%- include('includes/sections/speak-us') %>
            </div>
        </section>
    </main>
    <%- include('includes/footer.ejs')%>
</body>

</html>