<%- include('includes/head.ejs')%>
</head>

<body class="scrollbar-inner wow fadeIn">
    <%- include('includes/nav.ejs') %>
    <main>
        <section id="banner" class="img-webp">
            <div class="container">
                <h2 class="subtitle wow fadeInDown" data-wow-delay="0.2s">Evolua sua ideia</h2>
                <h1 class="title ">
                    <span class="wow fadeInDown" data-wow-delay="0.5s">Entre em contato!</span>
                </h1>
            </div>
        </section>
        <section id="speak-us" class="p-0">
            <div class="container">
                <div class="speak-us__content wow fadeInUp">
                    <div class="speak-us__content__container">
                        <div class="row">
                            <div class="col-lg-6 speak-us__content__contact">
                                <h3 class="title">Fale Conosco!</h3>
                                <p class="sub-title">Compartilhe sua idéia, e juntos, vamos evoluí-la! </p>
                                <a href="#">
                                    <div class="contact-item">
                                        <i class="fa fa-rocket"></i>
                                        <p class="desc">Tem uma ideia? Orce aqui mesmo</p>
                                        <h4 class="value text-uppercase">evoluir minha ideia</h4>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="contact-item">
                                        <i class="fa fa-mobile-phone"></i>
                                        <p class="desc">Ligue para gente</p>
                                        <h4 class="value"> <small>+55</small> (053) 99919-7942</h4>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="contact-item">
                                        <i class="fa fa-envelope"></i>
                                        <p class="desc">Envie-nos um email</p>
                                        <h4 class="value"> contato@evolveme.com</h4>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-6 speak-us__content__form">
                                <h4 class="title">Ou envie uma mensagem rápida:</h4>
                                <form action="">
                                    <div class="form-group">
                                        <label>Seu nome:</label>
                                        <input placeholder="Digite seu nome" type="text" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>Seu E-mail:</label>
                                        <input placeholder="Digite seu e-mail" type="text" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>Seu número:</label>
                                        <input placeholder="Digite seu número" type="text" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>Sua mensagem:</label>
                                        <textarea rows="3" placeholder="Digite sua mensagem" type="text"
                                            class="form-control"></textarea>
                                    </div>
                                    <button type="submit" class="btn-grad--blue w-100">Enviar mensagem rápida!</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <%- include('includes/footer.ejs')%>
</body>

</html>