<%- include('includes/head.ejs')%>
</head>

<body class="scrollbar-inner wow fadeIn">
    <%- include('includes/nav.ejs')%>
    <main>
        <section id="banner" class="img-webp">
            <div class="container">
                <h1 class="title">
                    <span class="wow fadeInDown" data-wow-delay="0.5s">Sobre nós</span>
                </h1>
                <h2 class="subtitle wow fadeInDown" data-wow-delay="0.5s">Um pouquinho da nossa história</h2>
            </div>
        </section>

        <section id="about" class="img-webp">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 wow fadeInUp d-flex justify-content-center align-items-center">
                        <img class="img-webp about__img mb-5 w-100" data-webp="/website/images/trumps/escritorio.png"
                            data-original="/wesbite/images/trumps/escritorio.png" alt="">
                    </div>
                    <div class="col-lg-5 wow fadeInRight d-flex justify-content-center flex-column">
                        <h3 class="inner-desc font-weight-bold text-uppercase text-left">Quem somos</h3>
                        <p class="inner-desc text-left"> Somos uma agência jovem com um grande desejo de <b>inovar e
                                fazer diferente</b>. Nascida em <b>Bagé</b> (cidade no interior do Rio Grande do
                            Sul), surgimos da necessidade de oferecer soluções que disfrutassem do <b>melhor que WEB tem
                                a oferecer</b>. Hoje em dia crescidos, evoluímos
                            ideias a <b>nível internacional</b>, provando que para evoluir, basta vontade e <b>ação de
                                inovar</b>!
                        </p>
                    </div>
                    <div class="container">
                        <div class="row pt-3">
                            <div class="col-lg-6">
                                <h3 class="inner-desc font-weight-bold text-uppercase text-left">O que fazemos</h3>
                                <p class="inner-desc text-left"><b>Evoluímos idéias</b> de websites, aplicativos,
                                    sistemas,
                                    jogos e outros, em <b>soluções modernas, rápidas e bonitas</b>. Você transmite sua
                                    idéia
                                    pra gente e nós a
                                    <b>lapidamos e desenvolvemos</b> da melhor forma possível! </p>
                            </div>
                            <div class="col-lg-6">
                                <h3 class="inner-desc font-weight-bold text-uppercase text-left">Nossa Misssão</h3>
                                <p class="inner-desc text-left">Nosso propósito surge da necessidade de <b>quebrar
                                        padrões
                                        de
                                        desenvolvimento que limitam o potencial da sua solução</b>. A tecnologia evolui
                                    a
                                    cada
                                    segundo, e nos propomos a seguir esse fluxo de evolução, sempre oferecendo o
                                    <b>melhor
                                        do
                                        mercado na sua aplicação</b>.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="pt-3">
            <div class="container">
                <div class="work-with wow fadeInUp">
                    <h5 class="title">Nós desenvolvemos: </h5>
                    <div class="owl-carousel owl-theme">
                        <div class="item">
                            <div class="about-card">
                                <i class="bg-icon fa fa-paint-brush"></i>
                                <h4 class="about-card__title">Sistemas</h4>
                                <ul class="about-card__list">
                                    <li>Rápidos e leves</li>
                                    <li>Práticos e bem-pensados</li>
                                    <li>Acessáveis em qualquer lugar</li>
                                    <li>Especiais para seus problemas</li>
                                </ul>
                                <p><a href="#">Ler mais >></a></p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="about-card wow">
                                <i class="bg-icon fa fa-code"></i>
                                <h4 class="about-card__title">Websites</h4>
                                <ul class="about-card__list">
                                    <li>Responsivos e bonitos</li>
                                    <li>Com carregamento rápido</li>
                                    <li>No topo do Google</li>
                                    <li>Pensados no usuário</li>
                                </ul>
                                <p><a href="#">Ler mais >></a></p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="about-card wow">
                                <i class="bg-icon fa fa-rocket"></i>
                                <h4 class="about-card__title">Jogos WEB</h4>
                                <ul class="about-card__list">
                                    <li>Divertidos e criativos</li>
                                    <li>Responsivos e adaptáveis</li>
                                    <li>Com boa performance</li>
                                    <li>Intuítivos e acessíveis</li>
                                </ul>
                                <p><a href="#">Ler mais >></a></p>
                            </div>
                        </div>

                        <div class="item">
                            <div class="about-card wow">
                                <i class="bg-icon fa fa-rocket"></i>
                                <h4 class="about-card__title">Aplicativos</h4>
                                <ul class="about-card__list">
                                    <li>Leves e rápidos</li>
                                    <li>Nativos e Multiplataforma</li>
                                    <li>Bonitos e únicos</li>
                                    <li>Intuítivos e práticos</li>
                                </ul>
                                <p><a href="#">Ler mais >></a></p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <section id="technologies" class="img-webp">
            <div class="container">
                <h3 class="inner-title color-navy wow fadeInUp" data-wow-delay="0.2s">
                    <span class="color-second">Tecnologias</span> <span class="small">que utilizamos</span>
                </h3>
                <p class="inner-desc color-navy wow fadeInUp" data-wow-delay="0.3s">
                    A <b>Web</b> evoluiu gerando diversas possibilidades que <strong>evoluem (e muito!) a experiência do
                        usuário</strong>. Por isso, enquanto alguns optam por tecnologias defasadas
                    <b>nós utilizamos as mais quentes e modernas do mercado</b>!
                </p>

                <div class="thechnologies__list">
                    <a target="_blank"
                        href="https://imasters.com.br/desenvolvimento/por-que-stanford-trocou-java-por-javascript"><img
                            data-src="/website/images/brands/javascript.png" alt="Logo Javscript" src="images/trumps/loading.gif"
                            class="thechnologies__list__item lazy wow fadeInUp"></a>
                    <a target="_blank"
                        href="https://www.treinaweb.com.br/blog/node-js-por-que-voce-deve-conhecer-essa-tecnologia/"><img
                            data-src="/website/images/brands/nodejs.png" alt="Logo NodeJS" src="images/trumps/loading.gif"
                            class="thechnologies__list__item lazy wow fadeInUp"></a>
                    <a target="_blank" href=https://tableless.com.br/react-o-que-e-e-como-funciona-essa-ferramenta/"">
                        <img data-src="/website/images/brands/react.png" alt="Logo React" src="images/trumps/loading.gif"
                        class="thechnologies__list__item lazy wow fadeInUp"></a>
                    <a target="_blank" href="https://tableless.com.br/sass-um-outro-metodo-de-escrever-css/"><img
                            src="images/trumps/loading.gif" data-src="/website/images/brands/sass.png" alt="Logo Sass"
                            class="thechnologies__list__item lazy wow fadeInUp"></a>
                    <a target="_blank"
                        href="https://medium.com/leroy-merlin-brasil-tech/devo-usar-nosql-e-mongodb-951693aa0d34"><img
                            data-src="/website/images/brands/mongodb.png" alt="Logo MongoDB" src="images/trumps/loading.gif"
                            class="thechnologies__list__item lazy wow fadeInUp"></a>
                </div>

                <hr class="line--white wow fadeInUp" data-wow-delay="0.5s" />
            </div>
        </section>
        <section id="testimonials" style="min-height: 60vh;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 testimonials__desc text-lg-left">
                        <h3 class="inner-title color-white wow fadeInUp mb-1" data-wow-delay="0.2s">
                            <span class="small color-navy">O que nossos</span><span class="color-main">Clientes
                                dizem</span></span>
                        </h3>
                        <p class="inner-desc color-white wow fadeInUp color-navy p-0" data-wow-delay="0.3s">
                            Um pouco de quem já evoluiu suas idéias e seu negócio!
                        </p>
                        <div class="testimonial__arrows">
                        </div>
                    </div>
                    <div class="col-lg-8 d-flex justify-content-center align-items-center p-0">
                        <div class="testimonial__slider img-webp wow fadeInRight">
                            <div class="owl-carousel owl-theme">
                                <div class="item">
                                    <div class="testimonial__slider__item">
                                        <p class="testi__text">Lorem ipsum dolor sit amet consectetur adipisicing
                                            lorem10 elit. Minima possimus incidunt at sequi distinctio fugit illum
                                            fugiat esse, veniam maxime? Lorem ipsum dolor sit, amet consectetur
                                            adipisicing elit. Quis, vel?</p>
                                        <img src="images/trumps/loading.gif"
                                            data-src="/website/https://saopedrovidracaria.com.br/images/logo-white.png" alt=""
                                            class="testi__img lazy" />
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="speak-us">
            <div class="container">
                <div class="speak-us__content wow fadeInUp">
                    <div class="speak-us__content__container">
                        <div class="row">
                            <div class="col-lg-6 speak-us__content__contact">
                                <h3 class="title">Fale Conosco!</h3>
                                <p class="sub-title">Compartilhe sua idéia, e juntos, vamos evoluí-la! </p>
                                <a href="/contato.html">
                                    <div class="contact-item">
                                        <i class="fa fa-rocket"></i>
                                        <p class="desc">Tem uma ideia? Orce aqui mesmo</p>
                                        <h4 class="value text-uppercase">evoluir minha ideia</h4>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="contact-item">
                                        <i class="fa fa-mobile-phone"></i>
                                        <p class="desc">Ligue para gente</p>
                                        <h4 class="value"> <small>+55</small> (053) 99919-7942</h4>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="contact-item">
                                        <i class="fa fa-envelope"></i>
                                        <p class="desc">Envie-nos um email</p>
                                        <h4 class="value"> contato@evolveme.com</h4>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-6 speak-us__content__form">
                                <h4 class="title">Ou envie uma mensagem rápida:</h4>
                                <form action="">
                                    <div class="form-group">
                                        <label>Seu nome:</label>
                                        <input placeholder="Digite seu nome" type="text" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>Seu E-mail:</label>
                                        <input placeholder="Digite seu e-mail" type="text" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>Seu número:</label>
                                        <input placeholder="Digite seu número" type="text" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>Sua mensagem:</label>
                                        <textarea rows="3" placeholder="Digite sua mensagem" type="text"
                                            class="form-control"></textarea>
                                    </div>
                                    <button type="submit" class="btn-grad--blue w-100">Enviar mensagem rápida!</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <%- include('includes/footer.ejs')%>
</body>

</html>