<%- include('./website/includes/head.ejs')%>
</head>

<body class="scrollbar-inner wow fadeIn">
    <%- include('./website/includes/nav.ejs') %>
    <main>
        <section id="banner" class="img-webp" style="height: 70vh;">
            <div class="container">
             <h2 class="subtitle wow fadeInDown" data-wow-delay="0.2s">Erro 404</h2>
                <h1 class="title ">
                    <span class="wow fadeInDown" data-wow-delay="0.5s">Página não encontrada!</span>
                </h1>
                <a role="button" class="btn btn-main--outline mt-4 wow fadeInDown" data-wow-delay="0.7s" href="/">Ir para Início</a>
            </div>
        </section>
    </main>
    <%- include('./website/includes/footer.ejs')%>
</body>

</html>