<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Painel Admnistração - Evolve</title>
  <!-- plugins:js -->
  <script src="/admin/vendors/js/vendor.bundle.base.js" defer></script>
  <script src="/admin/vendors/js/vendor.bundle.addons.js" defer></script>
  <script src="/admin/vendors/bootstrap-select/bootstrap-select.min.js" defer></script>
  <script src="/admin/vendors/bootstrap-select/ajax-bootstrap-select.min.js" defer></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="/admin/js/off-canvas.js" defer></script>
  <script src="/admin/js/misc.js" defer></script>
  <script src="/admin/js/dashboard.js" defer></script>
  <script src="/admin/js/file-upload.js" defer></script>
  <script src="/admin/js/chart.js" defer></script>
  <script src="/admin/js/forms.js" defer></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="/admin/js/dashboard.js" defer></script>
  <!-- End custom js for this page-->

  <!-- plugins:css -->
  <link rel="stylesheet" href="/admin/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="/admin/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="/admin/vendors/css/vendor.bundle.base.css">
  <link rel="stylesheet" href="/admin/vendors/bootstrap-select/bootstrap-select.min.css">
  <link rel="stylesheet" href="/admin/vendors/bootstrap-select/ajax-bootstrap-select.min.css">
  <!-- endinject -->
  <!-- inject:css -->
  <link rel="stylesheet" href="/admin/css/main.min.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="/website/images/favicon.png" />